@import '../abstracts/variables';

nav {
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $text-color;
	position: fixed;
	width: 100%;
	.logoSite {
		position: absolute;
		left: 10px;

		img {
			width: 200px;
			border-radius: 30px;
		}
	}

	ul {
		display: flex;
		width: 30%;
		justify-content: space-evenly;

		li a {
			color: $primary-color;
		}
	}

	div button {
		border: none;
		cursor: pointer;
		//padding: 0;
		background: transparent;
		color: $primary-color;
	}

	.dropdownBasic {
		background-color: transparent;
		border: none;
	}
	svg {
		color: $primary-color; 
	}

}