a {
	text-decoration: none;
}
* {
	font-family: 'Poppins', sans-serif !important;
	color: $text-color
}
.mainCotainer {
    width: 90%;
    margin: auto;
}
.main-title {
	display: flex;
    justify-content: center;
	font-size: 2.5rem;
	padding-bottom: 2rem;
}
